In [1]:
import sqlite3

In [36]:
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [8]:
#create table
cursor.execute('''
    create table if not exists employees(
    id integer primary key,
    name text not null,
    position text not null,
    salary real not null,
    age integer not null,
    department text not null
    )
            
            ''')

#commit changes 
connection.commit()

In [12]:
cursor.execute('''
    insert into employees (name, position, salary, age, department) 
    values('anu', 'Software Developer', 5000, 20, 'IT')
               ''')

cursor.execute('''
    insert into employees (name, position, salary, age, department) 
    values('abc', 'Software Developer', 7000, 40, 'IT')
               ''')

cursor.execute('''
    insert into employees (name, position, salary, age, department) 
    values('xyz', 'Software Developer', 8000, 50, 'IT')
               ''')

cursor.execute('''
    insert into employees (name, position, salary, age, department) 
    values('vivek', 'Software Developer', 9000, 60, 'IT')
               ''')


connection.commit()

In [23]:
cursor.execute('select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'anu', 'Software Developer', 10000.0, 20, 'IT')
(2, 'abc', 'Software Developer', 7000.0, 40, 'IT')
(4, 'vivek', 'Software Developer', 9000.0, 60, 'IT')

In [18]:
cursor.execute('update employees set salary = 10000 where name = "anu"')
connection.commit()

In [24]:
#delete
cursor.execute('delete from employees where name = "xyz"')
connection.commit()
connection.close()

#### complete steps

In [44]:
#complete project 
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

#create table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales_data(
    id INTEGER PRIMARY KEY,
    sales_date TEXT NOT NULL,
    product_name TEXT NOT NULL,
    sales_region TEXT
    )
    ''')


# data_from = pd.read_csv('sales_data.csv')
# data_from.to_sql('sales_data', connection, if_exists='replace', index=False)

sales_data = [
    ('2022-01-01', 'Product A', 'North'),
    ('2022-01-02', 'Product B', 'South'),
    ('2022-01-03', 'Product C', 'East'),
    ('2022-01-04', 'Product D', 'West')
]

#insert data
cursor.executemany('''
    insert into sales_data (sales_date, product_name, sales_region)
    values(?,?,?)
    ''' , sales_data)

#delete duplicate
cursor.execute('''
               DELETE FROM sales_data 
               WHERE id NOT IN (SELECT MIN(id) FROM sales_data 
               GROUP BY sales_date, product_name, sales_region)  
                ''')

connection.commit()

In [45]:
#read data
cursor.execute('select * from sales_data')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2022-01-01', 'Product A', 'North')
(2, '2022-01-02', 'Product B', 'South')
(3, '2022-01-03', 'Product C', 'East')
(4, '2022-01-04', 'Product D', 'West')

In [46]:
#update 
cursor.execute('''
            update sales_data set product_name = 'Product E' where id = 1
               ''')

In [47]:
cursor.execute('''insert into sales_data 
               (sales_date, product_name, sales_region) 
               values("2022-01-05", "Product F", "North")''')

In [48]:
connection.close()